.header {
  font-family: fantasy;
  font-weight: bold;
  text-align: center;
  font-size: xx-large;
  background-color: lightgray;
}

.card-wrapper {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.input-divider {
  padding: 5px;
}
