.header {
  font-family: fantasy;
  font-weight: bold;
  text-align: center;
  font-size: xx-large;
  background-color: lightgray;
}

.card-wrapper {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

th {
  text-align: center;
}
td {
  text-align: center;
}

.seperate-buttons {
  padding: 5px;
}

.save-container {
  justify-content: center;
}
